[Desktop Entry]
Name=GSTranslator
Comment=Simple translator
Exec=gstranslator
Icon=gstranslator
Type=Application
Categories=Education;Languages;GNOME;GTK;
